<div class="container">
  <h1 class="home-text">Welcome to ThoughtBox! Log In or Sign Up so that you can store all your awesome links. Keep track of read, or unread links, edit or create new links, or sort and search the existing links.</h1>
</div>
