<div class="container">

<div class="col-md-6 forms text-center">
  <h1 class="body-header">New Link</h1>
  <form class="save-form form-inline">
    <div class="form-group">
    <%= text_field_tag :title, nil, placeholder: "Title", id: "title", class: "form-control"%>
    <%= text_field_tag :url, nil, placeholder: "URL", id: "url", class: "form-control" %>
    <button type="button" name="save-new-link" id="save-btn" class="btn btn-success">Save</button>
  </div>
  </form>
</div>

<div class="col-md-6 forms text-center">
  <h1 class="body-header">Search Links By Title</h1>
  <div class="idea-search form-inline">
    <%= text_field :search, :filter, placeholder: "Title", class: "form-control" %>
    <button type="button" name="button-search" class="btn btn-success">Search</button>
  </div>
</div>

<div class="col-md-12 buttons-row">
  <div class="col-md-3">
    <button type="button" name="read-links" class="btn btn-success">Read Links</button>
  </div>
  <div class="col-md-3">
    <button type="button" name="unread-links" class="btn btn-success">Unread Links</button>
  </div>
  <div class="col-md-3">
    <button type="button" name="alpha-sort" class="btn btn-success">Sort Alphabetically</button>
  </div>
  <div class="col-md-3">
    <button type="button" name="all-links" class="btn btn-success">All Links</button>
  </div>
</div>

<div class="col-md-12">

  <table  class="table table-striped" id="links-table">
      <tr id="table-headings">
        <th>Title</th>
        <th>Url</th>
        <th>Status</th>
        <th>Mark As Read</th>
        <th>Mark As Unread</th>
        <th>Edit</th>
      </tr>
      <tbody class="body">
    </tbody>
  </table>
</div>
</div>
