<div class="container">

<div class="col-md-6 forms text-center">
  <h1 class="body-header">New Link</h1>
  <form class="save-form form-inline">
    <div class="form-group">
    <%= text_field_tag :title, nil, placeholder: "Title", id: "title", class: "form-control"%>
    <%= text_field_tag :url, nil, placeholder: "URL", id: "url", class: "form-control" %>
    <button type="button" name="save-new-link" id="save-btn" class="btn btn-success">Save</button>
  </div>
  </form>
</div>
<!--
<div class="col-md-6 forms text-center">
  <h1 class="body-header">Search Ideas</h1>
  <div class="idea-search form-inline">
    <%= text_field :search, :filter, placeholder: "Search", class: "form-control" %>
    <button type="button" name="button-search" class="btn btn-success">Search</button>
  </div>
</div>
-->


<div class="col-md-12">

  <table  class="table table-striped" id="ideas-table">
      <tr id="table-headings">
        <th>Title</th>
        <th>Url</th>
        <th>Status</th>
        <th>Mark As Read</th>
        <th>Mark As Unread</th>
      </tr>
      <tbody>
    </tbody>
  </table>
</div>
</div>
