// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav-bar-custom {
  text-align: center;
  font-size: 40px;
  background-color: #FFA500;
  color: white;
}

.logs {

  font-size: 25px;
}

.home-text {
  text-align: center;
}

.navbar-default .navbar-nav li .logs {
  color: white;
}

.new-user-form {
  text-align: center;
  padding: 5px;
}

.btn-custom {
  background-color: #FFA500;
  color: white;
  margin: 4px;
}
