// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#links-table {
  margin: 10px;
}

#links-table .icon {
  text-align: right;
}

.buttons-row {
  margin: 20px;
  button {
    margin-left:  30px;
  }
}

#unread {
  color: #FFA500;
}

#read {
  color: grey;
}
